<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anant.iitbhuvaranasi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_iitbhu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="standard"
        android:usesCleartextTraffic="true">
        <activity android:name=".Club_ProfilePage"></activity>
        <activity android:name=".Club_Feed" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".Full_screen_imageActivity" />
        <activity android:name=".Clubs_group" />
        <activity android:name=".Feedfragment_notifcation_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>